.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 55%;
}

.video-list img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-flex{
  display: flex;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background: #eee;
}